<div class="row" style="text-align: center;">

<div class="col-12">
<br>
<h1 class="regular">MORE INFO COMING SOON</h1>
<br>
<p>We are currently working on finding accommodations for our guests. Stay tuned!</p>
</div>

</div>