<div class="row" style="text-align: center;">

<div class="col-12">
<br>
<h1 class="regular">The Hyatt Place</h1>
<br>
<p>We have a hotel block with The Hyatt Place which is right next to our wedding and reception venue.</p>
<a href="https://www.hyatt.com/en-US/home?pid=srqza&extCorporateId=g-RMWW" class="btn btn-outline-dark">Click Here to Book! ($110 / Night)</a>
</div>

</div>